<template name="queue">
  <div id="queue" class="col-sm-offset-3 col-sm-6 text-center">
    <div id="loader"></div>
    <h1>Waiting for team members...</h1>

    {{#with worker}}
        <table id="worker-info" class="table table-bordered">
          <tbody>
            <tr>
              <th scope="row">Worker ID</th>
              <td>{{workerId}}</td>
            </tr>
            <tr>
              <th scope="row">Source</th>
              <td>{{source}}</td>
            </tr>
            <tr>
              <th scope="row">Source ID</th>
              <td>{{id}}</td>
            </tr>
          </tbody>
        </table>

        {{#if equals status 'waiting'}}
            Currently waiting...
        {{/if}}

        {{#if equals status 'confirm'}}
            Are you ready?
            <br />
            <button class="btn btn-danger queue-cancel-btn">Cancel</button>
            <button class="btn btn-primary queue-confirm-btn">I'm Ready</button>
        {{/if}}

        {{#if equals status 'confirmed'}}
            Great! Waiting for others to confirm...
        {{/if}}

        {{#if equals status 'launch'}}
            Launching task...
        {{/if}}

    {{/with}}

  </div>
</template>
