<template name="queue">
    <h1>Waiting for team members...</h1>
    <p>Your worker ID: {{workerId}}</p>

    {{#with worker}}
        <p>Source: {{source}}</p>
        <p>Source ID: {{id}}</p>

        {{#if equals status 'waiting'}}
            Currently waiting...
        {{/if}}

        {{#if equals status 'confirm'}}
            Are you ready?
            <br />
            <button class="btn btn-danger queue-cancel-btn">Cancel</button>
            <button class="btn btn-primary queue-confirm-btn">I'm Ready</button>
        {{/if}}

        {{#if equals status 'confirmed'}}
            Great! Waiting for others to confirm...
        {{/if}}

        {{#if equals status 'launch'}}
            Launching task in new window...
        {{/if}}

    {{/with}}
</template>
