<template name="overview">
  <div id="panel">
    <div class="account">
        <div class="profile-picture"></div>
        <h5>Researcher Name</h5>
    </div>
    <div class="researcher-items">
      <ul>
        <a href="#"><li>Create New Experiment</li></a>
        <a href="#"><li>Copy Previous Experiement</li></a>
        <a href="#"><li>Settings</li></a>
      </ul>
    </div>
  </div>

  <div id="experiments">
    <div class="container">
        <h1>Active Experiments</h1>
        <h1>Past Experiments</h1>
    </div>
  </div>

</template>
