<template name="dashboard">
    <h1>Requestor Dashboard</h1>

    <button class="btn btn-primary dashboard-launch-btn">Launch</button>

    <table class="table">
        <thead>
            <tr>
                <th>Source</th>
                <th>ID</th>
                <th>Status</th>
                <th>Joined at</th>
            </tr>
        </thead>

        <tbody>
        {{#each workers}}
            <tr>
                <td>{{source}}</td>
                <td>{{id}}</td>
                <td>{{status}}</td>
                <td>{{createdAt}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>
