<template name="dashboard">
    <h1>Requestor Dashboard</h1>
    <h3>Experiment #1</h3>

    <div id="overview" class="container">
      <div class="row">
        <div id="graph" class="col-sm-8">
          <div id="threshhold" class="graph-line">Threshold = 15</div>
          <div id="count" class="graph-line" style={{graphStyles}}></div>
        </div>
        <div id="worker-launch" class="col-sm-4 text-center">
          <h1>{{workers.count}}</h1>
          <h4 class="color-grey">Workers in Queue</h4>
          <button class="btn btn-primary dashboard-launch-btn">Launch</button>
          <button class="btn btn-secondary">Clear Queue</button>
          <button class="btn btn-secondary">Settings</button>
        </div>
      </div>
    </div>

    <div id="participant-table" class="">
    <h3>Workers</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Source</th>
                <th>ID</th>
                <th>Status</th>
                <th>Joined at</th>
            </tr>
        </thead>

        <tbody>
        {{#each workers}}
            <tr>
                <td>{{source}}</td>
                <td>{{id}}</td>
                <td>{{status}}</td>
                <td>{{createdAt}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
  </div>
</template>
