<template name="experimentLogin">
    <div class="page-home">
        <div class="col-sm-6">
            <h1>Welcome!</h1>
            <p>
                Here's what you will do now: <br><br>
                <ul>
                    <li>Please read the consent text bellow.</li>
                    <li>Allow notifications to know when your team task is ready. </li>
                    <li>Enter ID in the box provided.</li>
                </ul>
                <br>
                {{#with taskDuration}}
                We expect the waiting time for the team task to start will be {{taskDuration}}. <strong> You will receive another indivdual task to work on while waiting. </strong>
                A pop-up will tell you when the team task is starting.  <br><br>
                {{/with}}
                <br>
                <p class=MsoNormal><span style='letter-spacing:-.15pt'><strong>If you are over 18 years
                old, have read and understand all information on this page, and want to participate in
                this research and continue, then enter your  ID 
                to begin.</strong></span></p>
            </p>
        </div>
        <div class="col-sm-6">
            <form class="login-worker">
                <div class="form-group">
                    <label for="source">Source</label>
                    <select name="source" id="source" class="form-control">
                        <option value="mturk">Mechanical Turk</option>
                        <option value="ucsdsona">UCSD SONA</option>
                        <option value="cogs160">COGS 160</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sourceId">ID</label>
                    <input type="text" class="form-control" name="sourceId">
                </div>
                <input type="submit" class="btn btn-block btn-primary" value="Next">
            </form>
        </div>
    </div>
</template>
